<h1>Weather For Your Location</h1>

<p>The current temperature at <%= @output_address %> is <%= @the_temperature %> degrees.</p>
<p>The outlook for the next hour is: <%= @the_hour_outlook %></p>
<p>The outlook for the next day is: <%= @the_day_outlook %></p>
